@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: "Space Grotesk", "Instrument Sans", ui-sans-serif, system-ui, sans-serif;
    --color-sidebarBg: #1b2033;
    --color-mainBg: #f4f6f9;
    --color-inputBg: #f3f4f6;
    --color-text-sidebarBg: #1b2033;
    --color-nbrand: #ff4911;
    --color-nbg: #fff000;
    --color-npink: #ff90e8;
    --color-nblue: #3b82f6;
}

@layer base {
    ::-webkit-scrollbar {
        display: none;
    }
    * {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

@layer utilities {
    .animate-fade-in {
        animation: fadeIn 0.3s ease-in-out forwards;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateY(5px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes toastSlideIn {
        from {
            opacity: 0;
            transform: translateX(100%);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    .animate-toast-slide-in {
        animation: toastSlideIn 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
    }
}


@layer components {
    .dropdown-enter {
        opacity: 0;
        transform: scale(0.95) translateY(-10px);
    }

    .dropdown-enter-active {
        opacity: 1;
        transform: scale(1) translateY(0);
        transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    }
    .dropdown-leave {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
    .dropdown-leave-active {
        opacity: 0;
        transform: scale(0.95) translateY(-10px);
        transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
    }
}
